interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.cumtd.com/api/v2.2/json/getdeparturesbystop?count=10&stop_id=IU
  response:
    body:
      string: '{"time":"2026-01-19T12:32:08-06:00","new_changeset":true,"status":{"code":200,"msg":"ok"},"rqst":{"method":"GetDeparturesByStop","params":{"count":10,"route_id":"","stop_id":"IU"}},"departures":[{"stop_id":"IU:1","headsign":"5E
        Green Hopper","route":{"route_color":"008063","route_id":"GREENHOPPER","route_long_name":"Green
        Hopper","route_short_name":"5","route_text_color":"ffffff"},"trip":{"trip_id":"[@7.0.41101146@][3][1237931450218]\/3__GN8_MF","trip_headsign":"Washington
        & Lierman","route_id":"GREENHOPPER","block_id":"GN8 MF","direction":"East","service_id":"GN8
        MF","shape_id":"5E HOPPER 79"},"vehicle_id":"1347","origin":{"stop_id":"PKLN:1"},"destination":{"stop_id":"WASHLRMN:7"},"is_monitored":true,"is_scheduled":true,"is_istop":false,"scheduled":"2026-01-19T12:32:00-06:00","expected":"2026-01-19T12:32:31-06:00","expected_mins":0,"location":{"lat":40.110263,"lon":-88.2295}},{"stop_id":"IU:1","headsign":"13N
        Silver","route":{"route_color":"cccccc","route_id":"SILVER","route_long_name":"Silver","route_short_name":"13","route_text_color":"000000"},"trip":{"trip_id":"[@6.0.28932250@][1][1654525562862]\/38__SV2_UIMF","trip_headsign":"PAR","route_id":"SILVER","block_id":"SV2
        UIMF","direction":"North","service_id":"SV2 UIMF","shape_id":"[@6.0.28932250@]1"},"vehicle_id":"1351","origin":{"stop_id":"PAR:2"},"destination":{"stop_id":"LSE:8"},"is_mon[...]
[...]
