interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.cumtd.com/api/v2.2/json/getstops
  response:
    body:
      string: '{"time":"2026-01-19T12:32:07-06:00","new_changeset":true,"status":{"code":401,"msg":"invalid
        key"},"rqst":{"params":{}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
[...]
- request:
    body: ''
    headers:
    method: GET
    uri: https://developer.cumtd.com/api/v2.2/json/getstops
  response:
    body:
      string: '{"time":"2026-01-19T12:37:31-06:00","new_changeset":true,"status":{"code":401,"msg":"invalid
        key"},"rqst":{"params":{}}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 401
      message: Unauthorized
version: 1
