name: Validate HACS

permissions:
  contents: read
  pull-requests: write
on:
  push:
  pull_request:

jobs:
  validate-hacs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: HACS validation
        uses: hacs/action@main
        with:
          category: integration
          ignore: brands
